.TrelloNewCardForm {
  .form-group > div > .form-control,
  .form-group > div > select,
  .screenshots {
    color: #4d4d4d;
    border: 1px solid #cdd2d4;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.33);

    &:focus { border-color: #cdd2d4; }
  }

  .screenshots li {
    border: {
      right: none;
      bottom: none;
      left: none;
    }

    &:first-child { border-top: none; }
  }

  textarea {
    min-height: 75px;
    padding: 9px 11px 0;
    box-sizing: border-box;

    resize: none;
  }

  button[type="submit"] {
    vertical-align: top;

    + .loading {
      position: relative;
      display: inline-block;
      width: 32px;
      height: 32px;
      margin-left: 5px;
      top: 3px;

      background-image: url('../../images/loading.svg');
      background-size: cover;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s, visibility 0s 0.3s;
    }

    &:disabled + .loading {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s;
    }
  }
}
